.form-user{
    width: 50vh;
    margin: auto;
    margin-bottom: 40px;
     
}
.container-form{
    background-color: none
}
.inputform{
    width: 100%;
    height: 30px;
    margin: auto;
    border: none;
    border-radius: 10px;
    background-color: white;
    margin-bottom: 20px;
    margin-top: 5px;
    color: black;
    padding-left: 10px;
    font-family: 'Work Sans', sans-serif;
    font-weight: bolder;
}
.btnform{
    width: 40%;
    height: 40px;
    margin: auto;
    
    background-color: gray;
    border-radius: 10px;
    /* border: solid 1px yellow; */

}
.btnform:hover{
    background-color: yellow;
    color: black;
}
.btn-profile{
    box-sizing: border-box;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    background: none;
}
.form-profile{
    width: 50vh;
    margin: auto;;
   
}
.list-user {
    border-radius: 10px;
    border: 1px solid yellow;
    width: 100%;
    margin: auto;
    display: block;
    padding-left: 10px;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
   
    
}
.content-user{
    font-family: 'Work Sans', sans-serif;
    font-size: large;

}